{% extends "layout.html" %}
{% block content %}
<div class="container-bar">
	<input type="checkbox" id="btn-social">
	<label for="btn-social" class="fa fa-play"></label>
		<div class="icon-social">
			<a href="#" class="fa fa-facebook">
				<span id="title">Facebook</span>
			</a>
			<a href="#" class="fa fa-youtube">
				<span id="title">Youtube</span>
			</a>
			<a href="#" class="fa fa-twitter">
				<span id="title">Twitter</span>
			</a>
			<a href="#" class="fa fa-github">
				<span id="title">Github</span>
			</a>
			<a href="#" class="fa fa-pinterest">
				<span id="title">Pinterest</span>
			</a>
		</div>
	</div>
    <section>
    <div class="row">
        <div class="col-12" style="background-color: rgb(17, 102, 199);">
            <h1>Proyecto Prototipos 2022</h1>
        </div>
    </div>
</section>
    <br>
    <div class="row">
        <div class="col-md-7">
            <figure style="width: 800px"><img id="imgindex" class="size-full wp-image-13256" src="/static/images/1.jpg" width="800" height="400" /></figure>
        </div>
        <div class="col-md-4">
            <p>Nuestra motivacion a la hora de crear este software de pagina Web, fue el poder tener un registro
                de todos los proyectos que han participado y vayan a participar en un futuro. Encontramos una necesidad y
                de eso trata esta convocatoria de tener creatividad para diseñar plasmar y hacer realidad nuestro
                sueño ayudando o beneficiando a la sociedad. Esta pagina web esta pensada
                para que cualquier persona con un sueño de crear o innovar, dar a conocer su proyecto frente a la comunidad
                pueda hacerlo sin ningun problema, y muchas personas puedan apreciarlo
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: black; color: white;" >
            <h2>Metas que pensamos cumplir al terminar nuestro proyecto</h2>
            <br>
            <div class="container">
                <li>Crear un sistema donde cada participante quede en la historia y sea reconocido por su proyecto</li>
                <li>Que cientos de personas puedan dar a conocer sus proyectos y miles de personas puedan apoyarlos asi como empresas</li>
                <li>Recaudar fondos para las personas las cuales sus proyectos sean interesantes y atractivos para la sociedad, obviamente cumpliendo una necesidad</li>
                <li>La creacion o implementacion de un sentido de emprendimiento entre la sociedad</li>
            </div>
            <br>
        </div>
    </div>
    <br>
<style>
    .imgindex{-webkit-transform:scale(1.3);transform:scale(1.3);}
.imgindex{overflow:hidden;}
</style>
{% endblock %}