{% extends "layout.html" %}
{% block content %}
<body>
        <div class="col-12" style="background-color: rgb(17, 102, 199);">
            <h2>XXV Concurso Nacional de Prototipos y Proyectos de Emprendimiento</h2>
        </div>
    </div>
</section>
    <br>
<div class="container">
    <div class="row">
        <div class="col-5 box-white">
            <p>Nuestra motivacion a la hora de crear este software de pagina Web, fue el poder tener un registro
                de todos los proyectos que han participado y vayan a participar en un futuro. Encontramos una necesidad y
                de eso trata esta convocatoria de tener creatividad para diseñar plasmar y hacer realidad nuestro
                sueño ayudando o beneficiando a la sociedad. Esta pagina web esta pensada
                para que cualquier persona con un sueño de crear o innovar, dar a conocer su proyecto frente a la comunidad
                pueda hacerlo sin ningun problema, y muchas personas puedan apreciarlo
            </p>
        </div>
        <div class="col-1"></div>
        <div class="contenedor col-6">
            <a href="#">
                 <figure>
                     <img style="width: 100%; height: 100%" src="/static/images/Captura de pantalla 2022-11-27 134725.jpg">
                     <div class="capa">
                         <h3>Prototipos y Emprendimiento 2022</h3>
                         <p>XXV CONCURSO NACIONAL DE PROTOTIPOS Y PROYECTOS DE EMPRENDIMIENTO 2022</p>
                     </div>
                 </figure>
             </a>
         </div>
    </div>
</div>
<br>
<br>
<br>
    <div class="row">
        <div class="col-12 box-white">
            <div class="container"><h2>Metas que pensamos cumplir al terminar nuestro proyecto</h2></div>
            <br>
            <div class="container">
                <li>Crear un sistema donde cada participante quede en la historia y sea reconocido por su proyecto</li>
                <li>Que cientos de personas puedan dar a conocer sus proyectos y miles de personas puedan apoyarlos asi como empresas</li>
                <li>Recaudar fondos para las personas las cuales sus proyectos sean interesantes y atractivos para la sociedad, obviamente cumpliendo una necesidad</li>
                <li>La creacion o implementacion de un sentido de emprendimiento entre la sociedad</li>
            </div>
            <br>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="container box-white">
                <p>Nuestro proyecto fue el resultado de una necesidad, al entrar a esta convocatoria nos pusimos a investigar a conocer sobre este evento en ediciones anteriores, pero lamentablemente no encontramos ninguna información sobre ello. Así que decidimos crear una página web diseñada para que las personas puedan subir sus ideas o proyectos y darse a conocer entre la sociedad y que empresas sepan de ellos. Este prototipo es una propuesta e investigación sobre el apoyo que tienen lo proyectos de otras personas en la sociedad o en una empresa, pues no muchos son exitosos ya sea por falta de economía, mantenimiento o conocimientos; sin embargo, muchos se interesan en proporcionar a la sociedad algo que facilite su vida o simplemente para salir adelante o ser reconocidos. Ese es nuestro propósito con esta página web, dar a conocer y guardar los proyectos ya sean poco conocidos o que requieren alguna mejora.</p>
            </div>
        </div>
    </div>
    <br>
        <div class="container">
            <br>
            <div class="row">
                <div class="contenedor col-6">
                    <a href="#">
                        <figure>
                            <img style="width: 100%; height: 100%" src="/static/images/flat-mountains.png">
                            <div class="capa">
                                <h3>Prototipos y Emprendimiento 2019</h3>
                                <p>Ganadores de la etapa Nacional de "Prototipos y Emprendimiento 2019"</p>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="col-1"></div>
                <div class="col-5 box-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget arcu dictum varius duis at consectetur. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. In ante metus dictum at tempor. Pretium viverra suspendisse potenti nullam ac tortor. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem. Ipsum dolor sit amet consectetur adipiscing elit duis. Pretium nibh ipsum consequat nisl vel pretium lectus quam id. Dolor sed viverra ipsum nunc aliquet bibendum. Risus commodo viverra maecenas accumsan. Lorem ipsum dolor sit amet consectetur. Viverra ipsum nunc aliquet bibendum enim facilisis.</div>
            </div>
        </div>
        <br>
        <br>
        <br>
</body>

{% endblock %}