{% extends "layout.html" %}
{% block content %}
{% if Bool == True %}
    {% for i in catTip %}
        {% if i.0 == 1 %}
        <h1>{{i.1}}</h1>
        {% endif %}
    {% endfor %}
{% else %}
    {% for i in catTip %}
        {% if i.0 == num %}
        <h1>{{i.1}}</h1>
        {% endif %}
    {% endfor %}
{% endif %}
    <div class="row row-F">
        <div class="col-md-4">
            <div class="list-group">
                {% for c in catTip %}
                {% if c.0 == 1 and num == 0%}
                <a href="/proyectos_fil/{{c.0}}" class="list-group-item list-group-item-action active"
                    aria-current="true">
                    {{c.1}}
                </a>
                {% elif c.0 == num %}
                <a href="/proyectos_fil/{{c.0}}" class="list-group-item list-group-item-action active"
                    aria-current="true">
                    {{c.1}}
                </a>
                {% else %}
                <a href="/proyectos_fil/{{c.0}}" class="list-group-item list-group-item-action">{{c.1}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if Bool == True %}
{% for c in dats %}
{% if  %}
    <div class="row row-F">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item #1 prede
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    {% endif %}
    {% endblock %}